
PORT=3001

MONGODB_URI=

JWT_SECRET=
SESSION_SECRET=
LINEAR_API_KEY=
MAIL_SMTP=smtp.host.com
MAIL_SMTP_PORT=465
MAIL_USER=hello@pointblank.club
MAIL_PASS=your-smtp-password
CLIENT_URL=http://localhost:5173

CORS_ORIGIN=*
